*{
      padding: 0;
      margin: 0;;
      box-sizing: border-box;
      font-family: 'Poppins',sans-serif;
}
body{
      background: #0a5958;
}
.app{
      background: #fff;
      width: 90%;
      max-width: 600px;
      margin: 100px auto 0;
      border-radius:10px ;
      padding: 30px;
}
.app h1{
      font-weight: 600;
      color: #175251;
      font-size: 25px;
      padding-bottom: 30px;
      border-bottom: 1px solid #175251;
}
.quiz{
      padding: 20px 0;
}
.quiz h2{
      font-size:18px ;
      color: #175251;
      font-weight: 600;
}
.btn{
      background: #fff;
      color: #133837;
      font-weight: 400;
      border: 1px solid #1d3f54;
      padding:10px ;
      width: 100%;
      margin:10px 0;
      text-align: left;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s;
}
.btn:hover:not([disabled]){
      background: #222;
      color: #fff;
}
.btn:disabled{
      cursor: no-drop;
}
#next-btn{
      background: #0e5c6f;
      color: #fff;
      font-weight: 500;
      width: 150px;
      padding: 10px;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
      margin: 20px auto 0;
      display: none;
}
.correct{
      background: #3092aa;
      color: #fff;
}
.incorrect{
      background: #cd4747;
}